.chess {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    grid-column: span 2;
  }

  .chess-box {
    display: grid;
    grid-template: min-content 1fr / 1fr 310px;
    column-gap: 20px;
  }

  .chess-container {
    justify-self: end;
    display: flex;
    flex-direction: column;
    position: relative;
    width: max-content;
  }

  .control-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}