.chess {
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template: min-content 1fr / 1fr 310px;
  column-gap: 20px;
  margin: 0 auto;

  h1 {
    grid-column: span 2;
  }

  .chess-container {
    justify-self: end;
    display: flex;
    flex-direction: column;
    position: relative;
    width: max-content;
  }
}
